# Momentum strategy

Data source: finnhub.io

Trading platform: Binance

API key for finnhub.io: `bqqjd5frh5rcj5178ceg`

## List of symbols on Binance

In [21]:
import requests
url = 'https://finnhub.io/api/v1/crypto/symbol?exchange=binance&token=bqqjd5frh5rcj5178ceg'

r = requests.get(url)
symbol_list = sorted([s for s in [i['symbol'] for i in r.json()] if 'USDT' in s])
print(symbol_list)

['BINANCE:ADAUSDT', 'BINANCE:AIONUSDT', 'BINANCE:ALGOUSDT', 'BINANCE:ANKRUSDT', 'BINANCE:ARDRUSDT', 'BINANCE:ARPAUSDT', 'BINANCE:ATOMUSDT', 'BINANCE:BANDUSDT', 'BINANCE:BATUSDT', 'BINANCE:BCCUSDT', 'BINANCE:BCHABCUSDT', 'BINANCE:BCHSVUSDT', 'BINANCE:BCHUSDT', 'BINANCE:BEAMUSDT', 'BINANCE:BEARUSDT', 'BINANCE:BNBBEARUSDT', 'BINANCE:BNBBULLUSDT', 'BINANCE:BNBUSDT', 'BINANCE:BNTUSDT', 'BINANCE:BTCDOWNUSDT', 'BINANCE:BTCUPUSDT', 'BINANCE:BTCUSDT', 'BINANCE:BTSUSDT', 'BINANCE:BTTUSDT', 'BINANCE:BULLUSDT', 'BINANCE:BUSDTRY', 'BINANCE:BUSDUSDT', 'BINANCE:CELRUSDT', 'BINANCE:CHRUSDT', 'BINANCE:CHZUSDT', 'BINANCE:COCOSUSDT', 'BINANCE:COMPUSDT', 'BINANCE:COSUSDT', 'BINANCE:COTIUSDT', 'BINANCE:CTSIUSDT', 'BINANCE:CTXCUSDT', 'BINANCE:CVCUSDT', 'BINANCE:DASHUSDT', 'BINANCE:DATAUSDT', 'BINANCE:DENTUSDT', 'BINANCE:DOCKUSDT', 'BINANCE:DOGEUSDT', 'BINANCE:DREPUSDT', 'BINANCE:DUSKUSDT', 'BINANCE:ENJUSDT', 'BINANCE:EOSBEARUSDT', 'BINANCE:EOSBULLUSDT', 'BINANCE:EOSUSDT', 'BINANCE:ERDUSDT', 'BINANCE:ETCUSDT', 'BINANCE:ETHBEARUSDT', 'BINANCE:ETHBULLUSDT', 'BINANCE:ETHUSDT', 'BINANCE:EURUSDT', 'BINANCE:FETUSDT', 'BINANCE:FTMUSDT', 'BINANCE:FTTUSDT', 'BINANCE:FUNUSDT', 'BINANCE:GTOUSDT', 'BINANCE:GXSUSDT', 'BINANCE:HBARUSDT', 'BINANCE:HCUSDT', 'BINANCE:HIVEUSDT', 'BINANCE:HOTUSDT', 'BINANCE:ICXUSDT', 'BINANCE:IOSTUSDT', 'BINANCE:IOTAUSDT', 'BINANCE:IOTXUSDT', 'BINANCE:KAVAUSDT', 'BINANCE:KEYUSDT', 'BINANCE:KNCUSDT', 'BINANCE:LENDUSDT', 'BINANCE:LINKUSDT', 'BINANCE:LRCUSDT', 'BINANCE:LSKUSDT', 'BINANCE:LTCUSDT', 'BINANCE:LTOUSDT', 'BINANCE:MATICUSDT', 'BINANCE:MBLUSDT', 'BINANCE:MCOUSDT', 'BINANCE:MDTUSDT', 'BINANCE:MFTUSDT', 'BINANCE:MITHUSDT', 'BINANCE:MTLUSDT', 'BINANCE:NANOUSDT', 'BINANCE:NEOUSDT', 'BINANCE:NKNUSDT', 'BINANCE:NPXSUSDT', 'BINANCE:NULSUSDT', 'BINANCE:OGNUSDT', 'BINANCE:OMGUSDT', 'BINANCE:ONEUSDT', 'BINANCE:ONGUSDT', 'BINANCE:ONTUSDT', 'BINANCE:PAXUSDT', 'BINANCE:PERLUSDT', 'BINANCE:PNTUSDT', 'BINANCE:QTUMUSDT', 'BINANCE:RENUSDT', 'BINANCE:REPUSDT', 'BINANCE:RLCUSDT', 'BINANCE:RVNUSDT', 'BINANCE:STMXUSDT', 'BINANCE:STORMUSDT', 'BINANCE:STPTUSDT', 'BINANCE:STRATUSDT', 'BINANCE:STXUSDT', 'BINANCE:TCTUSDT', 'BINANCE:TFUELUSDT', 'BINANCE:THETAUSDT', 'BINANCE:TOMOUSDT', 'BINANCE:TROYUSDT', 'BINANCE:TRXUSDT', 'BINANCE:TUSDUSDT', 'BINANCE:USDCUSDT', 'BINANCE:USDSBUSDT', 'BINANCE:USDSUSDT', 'BINANCE:USDTBIDR', 'BINANCE:USDTIDRT', 'BINANCE:USDTRUB', 'BINANCE:USDTTRY', 'BINANCE:USDTUAH', 'BINANCE:USDTZAR', 'BINANCE:VENUSDT', 'BINANCE:VETUSDT', 'BINANCE:VITEUSDT', 'BINANCE:WANUSDT', 'BINANCE:WAVESUSDT', 'BINANCE:WINUSDT', 'BINANCE:WRXUSDT', 'BINANCE:WTCUSDT', 'BINANCE:XLMUSDT', 'BINANCE:XMRUSDT', 'BINANCE:XRPBEARUSDT', 'BINANCE:XRPBULLUSDT', 'BINANCE:XRPUSDT', 'BINANCE:XTZUSDT', 'BINANCE:XZCUSDT', 'BINANCE:ZECUSDT', 'BINANCE:ZILUSDT', 'BINANCE:ZRXUSDT']

## Get candle data

In [6]:
import requests
import pandas as pd

token = 'bqqjd5frh5rcj5178ceg'

def get_symbol_list(exchange='binance', token=token):
    url = 'https://finnhub.io/api/v1/crypto/symbol?exchange={}&token={}'.format(exchange, token)
    r = requests.get(url)
    symbol_list = sorted([i['symbol'] for i in r.json()])
    return symbol_list
    
def get_table(symbol, start, end, resolution='D', token=token):
    url = 'https://finnhub.io/api/v1/crypto/candle?symbol={}&resolution={}&from={}&to={}&token={}'.format(symbol, resolution, start, end, token)
    r = requests.get(url)
    df = pd.DataFrame.from_dict(r.json())
    return df

symbol_list = get_symbol_list()
# print(symbol_list)
df = get_table('BINANCE:BTCUSDT', '1572651390', '1594080000')
df

           c        h        l        o   s           t             v
0    9289.52  9373.74  9186.21  9231.40  ok  1572652800  28923.060828
1    9194.71  9362.57  9066.14  9289.85  ok  1572739200  27894.378279
2    9393.35  9513.68  9115.84  9196.46  ok  1572825600  45894.456277
3    9308.66  9454.95  9175.76  9392.40  ok  1572912000  45935.873665
4    9339.05  9440.91  9250.01  9307.73  ok  1572998400  37336.170372
..       ...      ...      ...      ...  ..         ...           ...
243  9086.54  9261.96  8940.00  9231.99  ok  1593648000  45725.168076
244  9058.26  9125.00  9037.47  9086.54  ok  1593734400  28943.420177
245  9135.46  9190.00  9040.04  9057.79  ok  1593820800  26441.968484
246  9069.41  9145.24  8893.03  9135.00  ok  1593907200  34073.653627
247  9290.00  9349.00  9055.92  9069.41  ok  1593993600  45933.401222

[248 rows x 7 columns]

In [9]:
import numpy as np

# calculate 1-day return (r1)
df['r1'] = df['c']/df['c'].shift(1)-1
df

,c,h,l,o,s,t,v,r1
0,9289.52,9373.74,9186.21,9231.40,ok,1572652800,28923.060828,NaN
1,9194.71,9362.57,9066.14,9289.85,ok,1572739200,27894.378279,-0.010206
2,9393.35,9513.68,9115.84,9196.46,ok,1572825600,45894.456277,0.021604
3,9308.66,9454.95,9175.76,9392.40,ok,1572912000,45935.873665,-0.009016
4,9339.05,9440.91,9250.01,9307.73,ok,1572998400,37336.170372,0.003265
...,...,...,...,...,...,...,...,...
243,9086.54,9261.96,8940.00,9231.99,ok,1593648000,45725.168076,-0.015756
244,9058.26,9125.00,9037.47,9086.54,ok,1593734400,28943.420177,-0.003112
245,9135.46,9190.00,9040.04,9057.79,ok,1593820800,26441.968484,0.008523
246,9069.41,9145.24,8893.03,9135.00,ok,1593907200,34073.653627,-0.007230
247,9290.00,9349.00,9055.92,9069.41,ok,1593993600,45933.401222,0.024322